button{
    border: 2px solid rgb(196, 61, 61) ;
    background-color:white;
    color: rgb(196, 61, 61);
    width: 100px;
    height: 50px;
    /* margin: 8px; */
    font-size: medium;
    font-weight: bold;
    box-shadow: 3px 3px 8px rgba(10, 10, 10, 0.2);
    border-radius: 15px;
    transition: all 0.15s;
    border-radius: 15px;
    box-shadow: none;
    
}

button:hover{
box-shadow: 3px 3px 8px rgba(10, 10, 10, 0.2);
border-radius: 25px;
background-color: rgb(180, 57, 57);
color: white;

}

button:active{
margin-top: 3px;
margin-left: 3px;
box-shadow: none;

}



.nav{
    display: flex;
    justify-content: space-around;

    
}

.notifications>button{
    width: 110px;
}

.home,.about-me,.links,
.contact-me,.messages,.notifications{
    width: 150px;
    height: 150px;
}